#Extensions
*.pyc
*.swp

#Directories
profiling
sspec_out

*.sqlite

source_spec.conf

#Sphinx doc build
docs/configuration_file.rst
docs/_build
docs/generated

#Temporary files
*~

#IDE
.vscode

#Build products
sourcespec.egg-info/
dist/
build/
RELEASE-VERSION
