#Extensions
*.pyc
*.swp

#Directories
profiling
sspec_out

*.sqlite

source_spec.conf

#Sphinx doc
doc_src/_build
doc/

#Temporary files
*~

#Build products
source_spec.egg-info/
dist/
build/
RELEASE-VERSION
