#Extensions
*.pyc
*.swp

#Directories
profiling
sspec_out
testdata/CRL/PZ.new_20120211
testdata/CRL/PZ.new_20120215/
testdata/CRL/PZ.new_20120217/
testdata/CRL/PZ.new_20120221/

*.sqlite

source_spec.conf

#Temporary files
*~
