include CHANGELOG.md
include README.md
include LICENSE.txt
include CONTRIBUTORS.txt
# include only files in docs, not subdirs like _build
include docs/*
# exclude configuration_file.rst, which is generated when
# building docs
exclude docs/configuration_file.rst
include bin/*.py
include versioneer.py
include sourcespec/_version.py
include sourcespec/configspec.conf
include sourcespec/html_report_template/style.css
include sourcespec/html_report_template/*.html
