include ChangeLog.txt
include README.md
include LICENSE.txt
include CONTRIBUTORS.txt
include bin/*.py
include versioneer.py
include sourcespec/_version.py
include sourcespec/configspec.conf
include sourcespec/html_report_template/style.css
include sourcespec/html_report_template/*.html
